<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr />
      <!-- <app-servers></app-servers> -->

       <!-- <button   (click)="showSecret = !showSecret"  [ngClass]="{'true': showSecret}" >cick here</button> -->
       

       <button (click)="addNum()">Click me</button>
       <p  [ngStyle]="{'backgroundColor' : 'blue' ,  'color' : '#fff' }"    *ngIf="showSecret">Hello Amirreza</p>
       <div *ngFor="let logItem of  log" [ngStyle]="{backgroundColor: logItem >= 5 ? 'skyblue' : 'transparent'}" [ngClass]="{'white-text' : logItem >= 10}">
            {{logItem}}
       </div>
  </div>
</div>
 